.ant-breadcrumb {
  padding-bottom: 25px;
}

.actions {
  height: 50px;

  .action {
    float: left;
  }

  .search {
    float: right;
  }
}

.ant-menu-submenu-title {
  font-size: 14px !important;
}