@import "../utils/vars";

body {
  background-color: $body-background;
  font-size: $font-size-base;

  ::-webkit-scrollbar {
    width: 8px;
    background-color: white;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #f3f5f8;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
    background-color: transparent;
  }
}

em {
  font-style: normal;
}
